body,
html {
    height: 100% !important;
    font-family: 'Charm' !important;
    color: white !important;
}

.bg {
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    max-width: 80%;
    min-width: 480px;
    margin: auto;
    max-height: 80%;
    transform: translate(0, 15%);
    border-radius: 10px;
    box-sizing: border-box;
}

#buttons {
    margin-top: 10%;
}

input[type=submit] {
    padding-right: 10px;
    margin: 10%;
    color: white;
    background-color: #800000;
    border: 3px solid gold;
    border-radius: 10px;
}

input[type=submit]: hover {
    color: #800000;
    background-color: gold;
    border: 3px solid #800000;
    opacity: 50%;
}

.logo {
    width: 40%;
    margin: 0 auto;
    margin-bottom: -20%;
    padding-left: 1%;
}

#leaderboard {
    margin: 3%;
}
