body,
html {
    height: 100% !important;
    font-family: 'Charm' !important;
    color: white !important;
}

.bg {
    /* The image used */
    background-image: url("../images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    max-width: 50% !important;
    min-width: 480px;
    margin: auto;
    max-height: 80% !important;
    transform: translate(0, 15%);
    border-radius: 10px;
    box-sizing: border-box;
}

.row {
/*    max-width: 50%;*/
}

#buttons {
/*    margin-top: 5%;*/
}

input[type=submit] {
    min-width: 100px;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 10%;
    color: white;
    background-color: #800000;
    border: 3px solid gold;
    border-radius: 10px;
}

input[type=submit]: hover {
    color: #800000;
    background-color: gold;
    border: 3px solid #800000;
    opacity: 50%;
}

.logo {
    max-width: 40%;
    min-width: 500px;
    margin: 0 auto;
    padding-top: 5%;
    margin-bottom: -20%;
    padding-left: 1%;
    z-index: 5;
}

#leaderboard {
    margin: 3%;
}
