body,
html {
    height: 100%;
    font-family: 'Charm';
    color: white;
}

.bg {
    /* The image used */
    background-image: url("images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    max-width: 80%;
    margin: auto;
    max-height: 80%;
    transform: translate(0, 20%);
    border-radius: 10px;
    overflow:auto;
    max-height: 800vh;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 3px solid gold;
    border-style: groove;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: white;
    position: relative;
/*    display: block;*/
    margin: 0 auto;
}

/* Set a style for all buttons */
.button {
    border: none;
    cursor: pointer;
    width: 20%;
    padding-top: 30px;
}

#signup {
    float: left;
}

#login {
    float: right;
}

img {
    width: 110%;
    transform: translate(0, -40%);
}

/* Add padding to containers */
.container {
    /*    position: relative;*/
    /*    position: absolute;*/
    padding: 16px;
    transform: translate(0, -80%);
    margin: auto;
    max-width: 80%;
    margin: auto;
}
