.playbutton,
.rulesbutton {
    width: 30%;
    height: 30%;
    transform: translate(50%, -10%);
}

.logoutbutton {
    width: 30%;
    height: 30%;
    transform: translate(50%, -50%);
}

.playbuttonholder,
.rulesbuttonholder,
.logoutbuttonholder {
    transform: translate(40%, -150%);
}

.logo {
    width: 110%;
}

.menuholder {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    max-width: 80%;
    margin: auto;
    max-height: 80%;
    transform: translate(0, 20%);
    border-radius: 10px;
    overflow: auto;
}

.leaderboard {
    position: relative;
    max-width: 100px;
    transform: translate(240%, -100%);
}

.imgcontainer {
    transform: translate(3%, 0%);
}
