body,
html {
    height: 100%;
    font-family: 'Charm';
    color: white;
}

.bg {
    /* The image used */
    background-image: url("images/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
/*    overflow: hidden;*/
}

.placer {
    display: block;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    max-width: 80%;
    width: 450px;
    margin: auto;
/*    max-height: 80vh;*/
    transform: translate(0, 15%);
    border-radius: 10px;
/*    box-sizing:border-box;*/
}

.container {
    display: flex;
    padding: 12px 20px;
    transform:translateY(-40%);
    width: 100%;
    margin: 0 auto;
    max-height: inherit;
}

.buttons {
    display: inline-block;
    width:35%;
    padding-right: 2%;
    float: right;
    cursor: pointer;
}

.buttons > img:hover {
    opacity: 0.5;
}

.avatar {
    width: 110%;
    transform: translate(0, -40%);
}

.leaderboard {
/*    position: relative;*/
    display: block;
    width: 50%;
    margin: 2%;
}
