<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Maroon_HW1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/main.css">
<link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
<script src="../static/js/jquery-3.4.1.min.js"></script>

</head>

<body>
	<canvas class="bg" id="canvas">
		<img src="../static/assets/bluebutton.svg" id="bluebutton">
		<img src="../static/assets/redbutton.svg" id="redbutton">
		<img src="../static/assets/map.svg" id="board">
		<img src="../static/assets/logo.svg" id="logo">
		<div class="flag"> 
			<img src="../static/assets/stratego-flag.svg" class="game-piece">
		</div>
		<div class="bomb"> 
			<img src="../static/assets/stratego-bomb.svg" class="game-piece">
		</div>
		<div class="spy"> 
			<img src="../static/assets/stratego-spy.svg" class="game-piece">
		</div>
		<div class="scout"> 
			<img src="../static/assets/stratego-scout.svg" class="game-piece">	
		</div>
		<div class="miner"> 
			<img src="../static/assets/stratego-miner.svg" class="game-piece">
		</div>
		<div class="sergeant">
			<img src="../static/assets/stratego-sergeant.svg" class="game-piece">
		</div>
		<div class="lieutentant"> 
			<img src="../static/assets/stratego-lieutenant.svg" class="game-piece">
		</div>
		<div class="captain"> 
			<img src="../static/assets/stratego-captain.svg" class="game-piece">
		</div>
		<div class="major"> 
			<img src="../static/assets/stratego-major.svg" class="game-piece" id="major">
		</div>
		<div class="colonel"> 
			<img src="../static/assets/stratego-colonel.svg" class="game-piece">
		</div>
		<div class="general"> 
			<img src="../static/assets/stratego-general.svg" class="game-piece">
		</div>
		<div class="marshall"> 
			<img src="../static/assets/stratego-marshal.svg" class="game-piece">
		</div>
	</canvas>
	<script src="../static/js/game.js"></script>
</body>

</html>
