<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Maroon_HW1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/game.css}">
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
</head>

<body>
    <div class="sideBoard" id="P1SideBoard"></div>
    <div class="Board" id="gameBoard"></div>
    <div class="sideBoard" id="P2SideBoard"></div>
    <img th:src="@{/assets/bluebutton.svg}" class="marker" id="bluebutton">
    <img th:src="@{/assets/redbutton.svg}" class="marker" id="redbutton">
    <script th:src="@{/js/game.js}"></script>
</body>

</html>