<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Maroon_HW1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <script>
        var bleep = new Audio();
        bleep.src = "../static/audio/button.wav";
    </script>
</head>

<body>
    <div class="bg">
        <img th:src="@{/assets/logo.svg}" alt="Avatar" class="avatar">
        <div class="container">
            
            <form th:action="@{/register}" th:object="${userForm}" method="post">
                <h2>Register your account.</h2>

                <label for="username">Username</label>: <input type="username" id="username" name="username" />

                <label for="password">Password</label> <input id="password" name="password" type="password" />


                <label for="passwordConfirm">Confirm
                    password</label> <input id="passwordConfirm" name="passwordConfirm" type="password" />
                    
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
                            here</a></span>
                </div>

            </form>
        </div>
    </div>
</body>

</html>