<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Maroon_HW1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
    <script>
        var bleep = new Audio();
        bleep.src = "../static/audio/button.wav";
    </script>
</head>

<body>
    <div class="bg">
            <img th:src="@{/assets/logo.svg}" alt="Avatar" class="avatar">
                <div class="container">
                <form method="POST" th:action="@{/register}">
                <h2>Register your account.</h2>
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <label for="username"><b>Username</b></label>
                <br>
                <input type="text" name="username" path="username" placeholder="Enter Username" required="" />
                <br>
                <br>
                <label for="password"><b>Password</b></label>
                <br>
                <input type="password" name="password" path="password" placeholder="Enter Password"required="" />
                <br>
                <label for="passwordConfirm"><b>Confim password</b></label>
                <br>
                <input type="password" name="passwordConfirm" path="passwordConfirm" placeholder="Confirm Password"required="" />
                <br>
                <button type="submit">Complete Registration.</button>           
            </form>
            <form method="GET" th:action="@{/login}">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
