.background {
    background-image:url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playbutton,
.rulesbutton {
    width: 30%;
    height: 30%;
    transform: translate(50%, -10%);
}

.logoutbutton {
    width: 30%;
    height: 30%;
    transform: translate(50%, -50%);
}

.playbuttonholder,
.rulesbuttonholder,
.logoutbuttonholder {
    transform: translate(40%, -150%);
}

.logo {
    width: 110%;
}

.menuholder {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    width: 30%;
    margin: auto;
    height: 30%;
    transform: translate(0, 20%);
    border-radius: 10px;
    overflow: auto;
}

.leaderboard {
    width: 15%;
    transform: translate(240%, -100%);
}

.imgcontainer {
    transform: translate(3%, 0%);
}

#topbar {
width: 20%;
transform: translate(151%,-4010%);
}

#bottombar {
width: 20%;
transform: translate(151%,-1959%);
}
