.playbutton,
.rulesbutton,
.logoutbutton {
    width: 30%;
    height: 30%;
    transform: translate(50%, 0);
}

.playbuttonholder,
.rulesbuttonholder,
.logoutbuttonholder {
    transform: translate(40%, -150%);
}

.logo {
    width: 110%;
    transform: translate(0%, -40%);
}

.menuholder {
    display: table;
    vertical-align: middle;
    border: 8px solid #800000;
    border-style: double;
    background-color: #000000;
    width: 40%;
    margin: auto;
    height: 40%;
    transform: translate(0, 20%);
    border-radius: 10px;
    overflow: auto;
}

.leaderboard {
    background-color: #fbceb1;
    width: 15%;
    height: 50%;
    transform: translate(220%, -85%);
}

.imgcontainer {
    transform: translate(3%, 0%);
}
